<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="./loader.css">
</head>

<body>
   <div>
      <div class='lightsaber'>

         <img class='lighstaberHandler' src="../../../static/assets/ui/LightsaberHandle.png">

         <div class='lightsaberColor'>
            <span class='hider'></span>
         </div>
      </div>
      <div class='counter'>
         <p class='countdown-text'>twoj czas</p>
         <p class='timer'>19s</p>
      </div>
</body>

</html>