star-wars-loader::part(lightsaber),
star-wars-loader::part(counter) {
         display: flex;
         flex-wrap: no-wrap;
         justify-content: center;
         align-items: center;
      }

      star-wars-loader::part(lighstaberHandler) {
         flex-shrink: 0;
      }

      star-wars-loader::part(lightsaberColor) {
         width: 100%;
         height: 20px;
         border-radius: 20px;
         background-color: #bcbcbc;
      }

      /* NIE DZIAŁA, DLACZEGO????? */
      /* star-wars-loader::part(hider) {
         display: block;
         width: 100%;
         height: 20px;
         background-color: white;
         border-radius: 20px;
         box-shadow: 0px 0px 10px 10px #fa250e;
         animation: slider 100s linear;
         animation-play-state: running;
         animation-fill-mode: forwards;
      }

      @keyframes slider {
         0% {
            width: 100%
         }

         100% {
            width: 0;
         }
      } */

      star-wars-loader::part(countdown-text),
      star-wars-loader::part(timer) {
         color: #d81e06;
         font-size: 24px;
      }

      /* .lightsaber,
.counter {
         display: flex;
         flex-wrap: no-wrap;
         justify-content: center;
         align-items: center;
      }

      .lighstaberHandler {
         flex-shrink: 0;
      }

      .lightsaberColor {
         width: 100%;
         height: 20px;
         border-radius: 20px;
         background-color: #bcbcbc;
      }

      .countdown-text,
      .timer {
         color: #d81e06;
         font-size: 24px;
      } */