@import "./question.css";
@import './gameRules.css';
@import './modeChange.css';

@import './buttons.css';
@import './hallOfFame.css';

@import './redButton.css';
@import './img.css';
@import './logo.css';


body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../static/assets/ui/QuizBackground.png);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas: 
    "logo modes-list modes-list"
    "img-container title title"
    "img-container rules rules"
    "settings-button yellow-button red-button";
}