@import "./question.css";
@import './gameRules.css';
@import './modeChange.css';

@import './buttons.css';
@import './hallOfFame.css';

@import './redButton.css';
@import './img.css';
@import './logo.css';

mode-change {
    grid-column: 2/4;
    margin: auto auto;
    width: 60vw;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../static/assets/ui/QuizBackground.png);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.6fr 1.4fr 1fr;
    grid-template-areas: 
    "logo menu menu"
    "img-container title title"
    "img-container rules rules"
    "settings-button yellow-button red-button";
    justify-content: center;
    margin: 0;
    height: 100vh;
}

/*TABLET LANDSCAPE*/
@media only screen and (max-width: 1024px) and (orientation: landscape) 
{}

/*PHONE LANDSCAPE*/
@media only screen and (max-width: 812px) and (orientation: landscape) 
{
    .title{
        margin: auto auto;
        font-size: 1.25em;
        border-radius: 16px;
        width: 60vw;
    }
    
    .rules {
        width: 100%;
        height: 30vh;
        margin: 10px auto auto;
    }
    
    #modeRules {
        font-size: 1.25em;
        line-height: 1.75em;
        padding: 5px;
        box-sizing: border-box;
    }
    
    #gameRules {
        font-size: 1em;
        box-sizing: border-box;
        padding: 0.5em 1.5em;
    }
    
    #iconRules {
        height: 1em;
    }

    .yellow-button {
        width: 25vw;
        height: fit-content;
        margin: 15px auto;
    }
    
    .hall-of-fame-btn{
        width: 100%;
        font-size: 1em;
        padding: 10px;
    }
    
    .red-button {
        width: 25vw;
        height: fit-content;
        margin: 15px auto;
        font-size: 1em;
    }
    
    .red-button p {
        margin: 0;
    }

}

/*TABLET PORTRAIT*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
 {}

/*PHONE PORTRAIT*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
{
    body{
        grid-template-columns: 1fr;
        /* grid-template-rows: 11.25fr 1fr 2fr 1fr 1.75fr 1fr 1fr 1fr; */
        /* grid-template-rows: unset; */
        grid-template-areas: 
        "logo"
        "menu"
        "img-container"
        "title"
        "rules"
        "settings-button"
        "yellow-button"
        "red-button";
        padding-bottom: 1rem;
    }

    .logo img{
        max-width: 55%;
    }

    mode-change{
        grid-column: unset;
        width: 100vw;
    }

    .img-container{
        
    }
    
    .img-container img{
        max-height: 40vh;
        max-width: 80vw;
    }

    .title{
        width: 80vw;
    }

    .rules{
        height: unset;
        margin-top: 2rem;
    }

    .yellow-button{
        width: 80vw;
    }

    .red-button{
        width: 80vw;
        margin-top: 0;
    }
}