@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

button:hover{
    cursor: pointer;
}

.hall-of-fame-btn{
    background: rgba(255, 232, 31, 0.8);
    border: 1px solid rgba(255, 230, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 20px rgba(255, 230, 0, 0.9);
    border-radius: 16px;
    display: block;
    width: 45%;
    padding: 1.2rem 0;
    font-size: 1.5rem;
    font-family: 'Audiowide', cursive;
    color: #FFFFFF;

    transition: transform 200ms ease-in-out;
}

.hall-of-fame-btn:active{
    transform: translateY(10%)
}